choice BOOT_SIGNATURE_TYPE
	default BOOT_SIGNATURE_TYPE_RSA if BABBIES_TRACKER_STATIC_PARTITIONS_FACTORY
	default BOOT_SIGNATURE_TYPE_ED25519 if SOC_SERIES_NRF54LX || SOC_SERIES_NRF54HX
	default BOOT_SIGNATURE_TYPE_ECDSA_P256 if ((SOC_NRF52840 || SOC_SERIES_NRF91X) && !BOARD_BABBIES_TRACKER_NRF9160 && !BOARD_BABBIES_TRACKER_NRF52840)
	default BOOT_SIGNATURE_TYPE_ECDSA_P256 if SECURE_BOOT_APPCORE